$purple-fluorescing-1: #250c59;
$purple-fluorescing-2: #2b1c8c;
$purple-fluorescing-3: #433df2;
$purple-fluorescing-4: #3b42d9;
$purple-fluorescing-5: #5c73f2;

$white: #ededed;
$black: #111111;

/* Color Theme Swatches in RGBA */
$Bright-neon-purple-fluorescing-coral-1-rgba: rgba(36, 12, 89, 1);
$Bright-neon-purple-fluorescing-coral-2-rgba: rgba(43, 28, 140, 1);
$Bright-neon-purple-fluorescing-coral-3-rgba: rgba(66, 60, 242, 1);
$Bright-neon-purple-fluorescing-coral-4-rgba: rgba(58, 66, 216, 1);
$Bright-neon-purple-fluorescing-coral-5-rgba: rgba(92, 114, 242, 1);

/* Color Theme Swatches in HSLA */
$Bright-neon-purple-fluorescing-coral-1-hsla: hsla(258, 75, 19, 1);
$Bright-neon-purple-fluorescing-coral-2-hsla: hsla(247, 66, 33, 1);
$Bright-neon-purple-fluorescing-coral-3-hsla: hsla(241, 87, 59, 1);
$Bright-neon-purple-fluorescing-coral-4-hsla: hsla(236, 67, 53, 1);
$Bright-neon-purple-fluorescing-coral-5-hsla: hsla(230, 85, 65, 1);
