$purple-fluorescing-1: #250c59;
$purple-fluorescing-2: #2b1c8c;
$purple-fluorescing-3: #433df2;
$purple-fluorescing-4: #3b42d9;
$purple-fluorescing-5: #5c73f2;
$purple-fluorescing-6: #a6b2f4;

$white: #ededed;
$black: #111111;