@import "../../../assets/scss/theme";

#chat-messages {
    height: 80vh;
    border: 1px solid #eded;
    border-radius: 25px;
    overflow-y: scroll;
    padding: 1.2rem;
    padding-bottom: 1.2rem;
}

#chat-messages::-webkit-scrollbar {
    width: 0.25rem;
}

#chat-messages::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

.chat-input {
    margin-top: 10px;

    &:focus {
        box-shadow: none;
        border: 0.1px solid $purple-fluorescing-5;
    }
}

form {
    display: flex;
    gap: 15px;
}

.list-group-item {
    max-width: 250px;
}

.chat-inbox-msg {
    background-color: $purple-fluorescing-2;
    width: 200px;
    display: block;
    padding: 0.8rem;
    color: $white;
    border: none;

    border-radius: 25px 25px 25px 0;

    float: left;
    clear: both;
}

.chat-inbox-msg-res {
    margin-top: 15px;
    width: 200px;
    display: block;
    padding: 0.8rem;
    border: none;
    color: $black;
    border-radius: 15px 15px 0 15px;
    background-color: lighten($color: $purple-fluorescing-5, $amount: 20);

    float: right;
    clear: both;
}

.send-button {
    border-radius: 50px;
    background-color: $purple-fluorescing-2;
    border: none;

    &:hover {
        background-color: lighten($color: $purple-fluorescing-5, $amount: 1);
        transition: 0.2s;
    }
}

.send-button:hover {
    box-shadow: none;
    &:focus-within {
        box-shadow: none;
    }
}

.app-area {
    padding: 2rem;
}

@media screen and (max-width: 560px) {
    #chat-messages {
        height: 70vh;
    }
}

@media screen and (min-width: 1400px) {
    #chat-messages {
        height: 88vh;
    }
}
