@import "../../../assets/scss/theme";

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 400px;
    margin: 0 auto;
}

.intro-group {
    margin-top: 3rem;
}

.intro-group p {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.73);
}

.intro-group input {
    width: 100%;
}

.logo-img {
    max-width: 100%;
    padding-top: 1.2rem;
}

.btn-login {
    background: $purple-fluorescing-4;
    color: $white;
}

.sstatus-area {
    font-size: 0.85rem;
}

input {
    margin-top: 10px;

    &:focus {
        box-shadow: none;
        border: 0.1px solid $purple-fluorescing-5;
    }
}
