<div class="intro-section">
    <img src="../../../assets/img/undraw_Group_chat_re_frmo.svg" alt="live-chat-imagem" class="logo-img">
    <div class="intro-group">
        <h2 class="">Vamos de Live Chat?</h2>
        <p>É muito simples, é só clicar em entrar<br>Tá esperando o quê?</p>
        <form (ngSubmit)="login()">
            <input type="text" [(ngModel)]="userName" [ngModelOptions]="{ standalone: true }" class="form-control"
                placeholder="Como gostaria de ser chamado?" autofocus autocomplete="off">
        </form>
    </div>

    <button (click)="login()" type="submit" [disabled]="!userName || !wsService.serverStatus"
        class="btn btn-login mt-1 btn-block">
        Entrar
    </button>

    <div class="sstatus-area mt-2 text-muted">
        Estamos&nbsp;
        <span *ngIf="wsService.serverStatus" class="text-success">online</span>
        <span *ngIf="!wsService.serverStatus" class="text-danger">offline</span>
    </div>
</div>