// regular style toast
@import "~ngx-toastr/toastr";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // margin-bottom: 100px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
